body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /*підключення шрифту*/

    font-size: 15px;
    /* розмір букв*/
    line-height: 1.6;
    /*відступ між рядками*/
    color: #333;
    /*колір шрифту*/
}

/* everything */
*,
*:after,
*:before {
    box-sizing: border-box;
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*вирівнювання*/
    color: white;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background:
        url("../imgs/maxresdefault.jpeg") center no-repeat #333;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}

.intro_t {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    background: url("../imgs/1.jpeg") no-repeat #333 center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}


.intro_i {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    background: url("../imgs/strong-man-training-gym_1303-23478.jpeg") no-repeat #333 center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}

.intro_r {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    background: url("../imgs/istockphoto-1202446746-612x612.jpeg") no-repeat #333 center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}

.intro_l {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    background: url("../imgs/gym-outside-left-e1508708065414.jpeg") no-repeat #333 center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}

.intro_p {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    background: url("../imgs/5.jpeg") no-repeat #333 center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}

.intro_t_title {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 0;
}

.intro_p_title {
    display: flex;
    justify-content: space-between;
}


.intro_inner {
    width: 100%;
    min-width: 100px;
    margin: 0 auto;
    text-align: center;
}

.intro_title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 30px auto;
}

/* header */
.header {
    padding-top: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header_inner {
    display: flex;
    /* щоб все йшло в одну лінію */
    justify-content: space-between;
    /*  відстань між об'єктами всередині */
    align-items: center;
    /* вирівнювання по горизонталі-вертикалі */
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    Color: #fff;
    text-decoration: none;
}

/* nav */
.nav {
    text-transform: uppercase;
    font-size: 14px;
}

.nav_link {
    display: inline-block;
    /* щоб йшли всі в одну лінію */
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;
    /* без полоски знизу  */
    transition: color .1s linear;
    /* плавність при наводці  */
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;
    /* плавність при наводці для рисочки знизу  */

    position: absolute;
    /* вирівнювання відносно nav_link  */
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover:after {
    opacity: 1;

}

/* bottons */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;

    border: 3px solid #fff;
    text-decoration: none;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: -40px;


    transition: background 0.2s linear,
        color 0.2s linear;

}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.btn_ivts {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    left: -1px;

    border: 3px solid #fff;
    text-decoration: none;

    background-color: black;

    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: -58px;
    position:absolute;
    bottom : 0;



    transition: background 0.2s linear,
        color 0.2s linear;

}

.btn_ivts:hover {
    background-color: #fff;
    color: #333;
}

/* footer */
.footer {
    justify-content: space-between;
    background-color: black;
    color: #fff;
    margin-top: -15px;
}

/* hotline */
.hotline {
    text-align: center;
    font-size: 18px;
}

.hotline_inside {
    display: flex;
    /* щоб все йшло в одну лінію */
    justify-content: space-between;
    /*  відстань між об'єктами всередині */
}


/* additionals for hotline */
.info {
    margin: 0px 40px;
    font-size: 15px;
}

.url {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;

    border: 3px solid #fff;
    text-decoration: none;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

}

.url:hover {
    background-color: #fff;
    color: #333;
}

.trainers {
    display: flex;
    justify-content: space-between;
}

.trainers_t {
    /* margin: 35px 10px; */
    /* padding-top: 30px; */
    width: 250px;
    height: 50vh;
    /* font-size: 12px; */
    /* padding-top: 390px; */
    /* background-color: #fff; */
}

.trainers_com {
  /* margin: 0;
  padding: 0; */

  justify-content: space-between;
  display: flex;
  font-size: 14px;

}
.trainers_t.first {
    background: url("../imgs/kamal_ahmedov_personalnyj_trener-250x400-129.jpeg") center no-repeat;
}

.trainers_t.second {

    background: url("../imgs/trener_lev-250x400-08c.jpeg") center no-repeat;
}

.trainers_t.third {

    background: url("../imgs/trener_mahail-250x400-5bd.jpeg") center no-repeat;
}

.trainers_t.fourth {

    background: url("../imgs/thumbnail_kopylov_pavel-250x400-a9a.jpeg") center no-repeat;
}


.ivents {
    display: flex;
    justify-content: space-between;
}

.ivents_t {
    margin: 35px 10px;

    width: 303px;
    height: 40vh;
    border: 3px solid #fff;
    font-size: 10px;
    position:relative;
    padding-bottom: 500px;
    /* display: flex; */
    /* padding-top: 50px; */
    /* padding-top: 500px; */
    background-color: #fff;
}

.iinfo {
    width: 297px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;

    border: 3px solid #fff;

    background-color: black;

    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: -500px;
    top: 0;
    margin: 0;
    /* position:absolute; */

}

.ivents_t.first {
    background: url("../imgs/2022-09-20\ 15.38.49.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ivents_t.second {

    background: url("../imgs/pexels-photo-3289711.jpeg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ivents_t.third {

    background: url("../imgs/moss-house-gym-2.jpeg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

/* реєстрація */
.btn__reg_ent {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;

    border: 3px solid #fff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);

    transition: background .2s linear;

    margin-bottom: 25px;
}

.btn__reg_ent:hover {
    color: #333;
    background-color: rgb(255, 255, 255);
}

.input_reg_ent {
    font-size: 20px;
    height: 40px;
    width: 300px;
    line-height: 30px;
    color: white;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    transition: border-color .2s linear;
}

.input_reg_ent.first {
    margin-left: 110px;
}

.input_reg_ent.second {
    margin-left: 55px;
}

.input_reg_ent::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input_reg_ent:focus {
    border-color: orangered;
    outline: none;
}

.input_reg_ent:focus::placeholder {
    color: orange;
}

.poll_text {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

.pad {
    margin-top: -10px;
}
.area_k {
    height: 225px;
    resize: none;
}

.field {
    width: 300px;
}

.lower {
    font-weight: 500;
    font-size: 22px;
}

@media screen and (max-width: 900px) {
		#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .nav {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 10px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #a89169;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.check_hamb {
		display: none;
}
}
@media screen and (min-width: 900px) {
	.hamburger-menu {
		display: none;
		font-size: 0px;
	}
}

@media screen and (max-width: 1200px) {
  .hotline_inside {
    display: inline-block;
  }
  .intro_title {
    font-size: 110px;
  }

  @media screen and (max-width: 800px) {
    .intro_title {
      font-size: 80px;
    }
  }
  @media screen and (max-width: 540px) {
    .intro_title {
      font-size: 70px;
    }
  }
