.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* height: 100%; */
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* max-width: 1200px; */
    max-height: 120px;
    height: 100%;
    background-color: orange;
    box-shadow: 0px 0px 5px 5px lightgrey;
    /* border: 3px solid #333; */
    border-radius: 0px 0px 50px 50px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.nav {
    position: relative;
    margin-top: 20px;
    display: flex;
    z-index: 10;
    justify-content: space-between;
}

.nav_text {
    font-size: 40px;
    margin: 15px;
    text-align: center;

}

.additional_plate {
 color: black;
 text-align: center;
 border: 3px solid black;
 background-color: orange;
 border-radius: 50px;
 padding-top: 7px;
 height: 55px;
 font-size: 40px;
}

.place-for-searching {
    border-radius: 5%;
    margin-top: 10px;
    text-align: center;
}

.input_place {
    margin-top: -10px;
    font-size: 14px;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 50px;
    background-color: orange;
    height: 32px;
    width:100%;
    max-width: 200px;

}

.input_place::placeholder {
    color: black;
    padding-left: 5px;
}

.nav_search {
    margin-top: -10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 50px;
    background-color: orange;
    height: 40px;
    cursor: pointer;
    width:100%;
    max-width: 75px;

}

.nav_label {
    padding-left: 20px;
    /* z-index: 5; */
}

.search {
    width: 100%;
    max-width: 300px;
    /* text-align: center; */
}

.header_imgs {
    text-decoration: none;
}

.nav_icons {
    padding-right: 20px;
}

.main {
    /* text-align: center; */
    /* align-items: center; */
    /* background-color: orange; */
    /* margin-top: 10%; */
    width: 100%;
    max-width: 1200px;
    margin: 150px auto;
    /* border-radius: 70px 70px 100px 100px; */
    /* height: 1500px; */
}

.main_inside {
    padding-top: 15px;
    /* display: inline; */
    /* margin: auto; */
    height: 50px;
    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    border: 3px solid orangered;
    background-color: orangered;
    border-radius: 100px 100px 100px 100px;
}

.outer_button {
    height: 100%;
    max-height: 150px;
    text-align: center;
    border: 3px solid black;
    border-radius: 0px 0px 100px 100px;
}

.filter-input {
    border: 3px solid black;
    border-radius: 50px;
    background-color: orange;
    width: 100%;
    max-width: 300px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
}

.filter-input::placeholder {
    padding-left: 10px;
    color: black;
}

.filter-input-btn {
    font-size: 14px;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 50px;
    background-color: orange;
    height: 40px;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.filter-input-btn:hover {
    background-color: wheat;
}

.show-more-btn {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    width: 100%;
    max-width: 1200px;
    background-color: orange;
    height: 40px;
    text-align: center;
    border: 3px solid black;
    border-radius: 30px 30px 30px 30px;
    bottom: 0;
    cursor: pointer;

}

.backg {
    background: url("../imgs/background.jpeg") center no-repeat #423030;
    background-attachment: fixed;
    background-blend-mode: multiply;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: orangered;
    transition: linear .25s all;
    word-break: break-word;
    position: relative;
    box-shadow: -1px -1px 4px black;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* .cards_for_cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: orangered;
    transition: linear .25s all;
    word-break: break-word;
    position: relative;
    box-shadow: -1px -1px 4px black;
    overflow: hidden;
}
.cards_for_cart:hover {
    transform: scale(1.05);
}
.cards_for_cart img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
} */
.text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(80%);
    transition: linear .3s all;
    opacity: 0;
    background: linear-gradient(orangered 0%, orange 100%);
    padding: 5px 25px;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: 500;
    min-height: 40%;
    box-shadow: 0px 0px 1px 1px orange;
}

.text-container::-webkit-scrollbar {
    display: none;
}

.card:hover .text-container {
    transform: translateY(0);
    transition-delay: .1s;
    opacity: 1;
    max-height: 100%;
    overflow-y: scroll;
}


#cards, #cards_for_cart {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}


@media (max-width: 1200px) {
    #cards, #cards_for_cart {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    #cards, #cards_for_cart {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* @media (max-width: 700px) {
    .nav_search {
        display: none;
    }
} */

@media (max-width: 600px){
    #cards, #cards_for_cart {
        grid-template-columns: 1fr;
        /* display: none; */
    }
    .main_inside {
        height: 90px;
    }
    .mg-t-sm {
        margin-top: 5px;
    }

    /* .card img {
        max-width: 80%;
        height: auto;
    } */
}

/* .outer_button {
    display: flex;
    flex-direction: row-reverse;
    margin: 50px 20px 20px 20px;
  }
   */
.button_add {
    font-weight: 700;
    width: 150px;
    height: 40px;
    border-radius: 2px;
}

#to-the-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 16px;
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    width: 45px;
    height: 50px;
    border-radius: 20px;
    transition: linear .25s all;
}

#to-the-top-btn:hover {
    transform: scale(1.04);
    background-color: orange;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: orange;
}

::-webkit-scrollbar-thumb {
    background: orangered;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: orangered;
}

.filter_container {
    background-color: rgba(22, 74, 151, 0.8);
    padding: 25px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.3);
}


.burger_icon {
    display: none;
}


@media (max-width: 470px) {
    .nav_search {
        margin-top: 5px;
        max-width: 70px;
    }


    .input_place {
        max-width: 110px;
    }

    .header::before {
        max-height: 160px;
        height: 140px;
    }

    .filter-input {
        width: 100%;
        max-width: 200px;
    }
    /* .input_place::placeholder {
    } */
    
}

@media (max-width: 370px) {
    .filter-input {
        max-width: 140px;
    }
}

.to_the_cart {
    z-index: 1;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 50px;
    background-color: orange;
}

.to_the_cart:hover {
    background-color: orangered;
}

.amount {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.plus {
    border: 3px solid black;
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: orange;
    border-radius: 10px;
    font-size: 20px;
    padding-bottom: 28px;
    cursor: pointer;
}
.plus:hover, .minus:hover {
    background-color: yellow;
}

.minus {
    border: 3px solid black;
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: orange;
    border-radius: 10px;
    font-size: 20px;
    padding-bottom: 28px;
    cursor: pointer;
}

.how_much {
    /* margin-top: 10px; */
    text-align: center;
    border: 3px solid black;
    height: 30px;
    width: 120px;
    background-color: orange;
    border-radius: 10px;
    pointer-events:none;
}

.how_much::placeholder {
    color: black;
}



.btns {
    margin-left: 10px;
    /* margin-top: 1px; */
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 700;
}
.mr {
    margin-top: 20px;
}

.type_of_graphics {
    margin: 0;
    margin-top: -19px;
    padding: 0;
}

#chartContainer {
    width: 100%;
    max-width: 1200px;
    max-height: 300px;
    margin-top: 25px;
    color: black;
}

#news {
    margin-top: 150px;
    /* border: 3px solid black; */
    /* border-radius: 50px; */
    /* background-color: orange; */
    /* width: 100%; */
}

.new {
    width: 100%;
    max-width: 1200px;
    border: 3px solid black;
    border-radius: 50px;
    background-color: orange;
    /* padding: 10px; */
    /* cursor: pointer; */
}
.title_for_new {
    text-align: center;
    padding: 10px;
    margin: 0;
}

.text_for_new {
    padding: 10px;
    display: none;
}
.date_for_new {
    padding: 10px;
    text-align: center;
    /* display: none; */
    /* right: 0; */
}

.display_block {
    display: block;
}